*{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}
html{
	scroll-padding-top: 100px;
}
/*
.main-container{
	width: 100%;
	height: 100vh;

}*/

.header{
	width: 100%;
	height: 100px;
	background-color: #e5ded3;
	box-shadow: 0px 16px 0px #d0c5b4;
	position: sticky;
	top:0px;
	z-index: 9999;
}

.header-sections{
	width: 100%;
	position: absolute;
	height:100%;
	display: flex;
	justify-content: center;
}

.logo{
	height: 100%;
}
.branding{
	display: flex;
	justify-content: center;
	width: 20%;
}
.nav-bar{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.nav-list{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list-item{
	width: 20%;
	/*border: 2px black solid;*/
	display: flex;
	justify-content: center;
	box-shadow: 2px 4px 2px #bcbaa9 , -2px 4px 2px #bcbaa9;
	height: 40%;
	text-align: center;
	background-color: #d5d6bf;
	border-radius: 10px;
	color: #232526;
	font-family: 'Kanit', sans-serif;
	text-decoration: none;
	align-items: center;
	z-index: 999;
}

.list-item.active{
	color: #e36c07;
}
.list-item:hover{
	box-shadow: 2px 2px 2px #bcbaa9 , -2px 2px 2px #bcbaa9;
	background-color: #c3c4ab;	
}

.contact-floater{
	height: 100px;
	width: 100px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 100%;
	background-color: #232526;
	display: flex;
	box-shadow: 0px 10px 10px #232526 ;
	animation: jiggle 2s linear infinite;
	z-index: 99999;	
}

@keyframes jiggle{
	0%, 40%,80% ,100%{
		bottom: 20px;
		right: 20px;
	}

	20%, 60%{
		bottom: 40px;
	}

}


.first-container{
	position: relative;
	background: linear-gradient(140deg, #232526 , #414345 );
	height: 480px;
	/*z-index:-1;*/
	display: flex;
	align-content: flex-end;
	/*z-index: 999;*/
}

.background-image{
	position: relative;
	margin-top: 20px;
	width: 50%;
	height: 100%;
	background: url(../img/main-background.png);
	background-size: contain;
	background-repeat: no-repeat;


}

.content{
	box-sizing: border-box;
	position: relative;
	/*margin-top: 50px;*/
	padding: 0px 50px 50px 50px;
	text-align: center;
	width: 50%;
	color: #e5ded3;
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	/*padding-top: -20px;*/

}
.content h1{
    text-shadow: 8px 6px 10px #131111;
}
.content span{
	font-size: 1.5em;
	color: #e36c07;
}
.content p{

	padding-bottom: 30px;
	color: #e36c07;
}

.cta-button{
	display: inline-block;
	width: 150px;
	height: 50px;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 10px;
	box-shadow: 2px 10px 5px #232526;
	background-color: #e5ded3;
	color: #232526;

}
.cta-button:hover{
	color: #e36c07;
	box-shadow: 2px 5px 5px #232526;
}
.second-container{

	background: linear-gradient(140deg, #e5ded3 , #f2ebd8 );
	height: 480px;
	z-index: 99;
	box-shadow: inset 0px 10px 4px #d0c5b4;
	position: relative;
}

.decorator-orange{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 318px;
	width: 400px;
	background: url(../img/decorator-orange.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.decorator-white{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 318px;
	width: 400px;
	background: url(../img/decorator-white.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.third-container{
	background: linear-gradient(140deg, #e36c07 , #e7870b );
	height: 480px;	
	z-index: 9;
	box-shadow: inset 0px 10px 4px #c06f06;
	position: relative;
}
.footer{
	height: 150px;
	background: linear-gradient(140deg, #232526 , #414345 );
	box-shadow: inset 0px 10px 4px #181818;
}
.contact-floater img{
	height: 80%;
	width: 80%;
	margin: auto;	


}

.main-container-2{
	width: 100%;
	height: 1350px;
	position: relative;
	background: linear-gradient(140deg, #232526 , #414345 );
}
.curve1{
	background: url(../img/curve2.png);
    filter: drop-shadow(0px -10px 2px #232526);
	background-size: cover;
	width: 100%;
	height: 800px;
	position: absolute;
	top:150px;
	display: flex;
	flex-direction: column;


}
.curve2{
	background: url(../img/curve1.png);
    filter: drop-shadow(0px -10px 2px #ded6c2);
	background-size: cover;
	width: 100%;
	height: 500px;
	position: absolute;
	top:700px;
	box-shadow: 0px 10px 5px #171717;
}

.title{
	text-align: right;
	font-size: 3.5rem;
	color: #e5ded3;
	padding-right: 20%;
	margin-top: -20px;
}

.team-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 400px;
}

.team-image{
	width: 400px;


	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
}

.aaku .team-image{
	background: url(../img/aakash.png);
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(10px 5px 5px #ded6c2);
}

.siva .team-image{
	background: url(../img/siva.png);
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(10px 5px 5px #232526);
}
.team-content{
	width: 50%;
}

.team-content h1{
	text-align: center;
	padding-top: 60px;
	font-size: 3em;

}

.siva h1{
		color: #e36c07;
}

.aaku h1{
		color: #e5ded3;
}
.team-content p{
	text-align: center;
	font-size: 2em;
	padding:20px;
}
