:root{
	--biege : #ede9e0;
	--biege-contrast: #ddd7c6;
	--dark : #212325;
	--dark-contrast : #414546;
	--orange: #f17f18;
	--orange-contrast: #e26b0c;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;

}
body{
	background-color: black;
	position: absolute;
	/*overflow: hidden;*/
}
.page-container{
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.main-container{
	height: 130%;
	z-index: -2;
}

.header{
	background-color: var(--biege);
	height: 12%;
	box-shadow: 0px 20px 0px var(--biege-contrast);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.logo{
	height: 80%;
}
.menu-button{
	/*display: none;*/
	/*margin-bottom: auto;*/
	z-index: 99;

}
.menu-list-container{
	display: none;
	text-align: center;
	padding: 20px;
	position: absolute;
	width: 100%;
	height: calc(84.4% - 20px);
	top: calc(15.6% + 20px);
	left: 0px;
	background-color: var(--biege);
	/*filter: blur(8px);*/
	font-size: 2em;
	color: black;
}

.hidden{
	animation: fade-out 1s ease-out;
	display: none;
}

.shown{
	display: block;
	animation: fade-in 0.5s ease-out;
}

@keyframes fade-in{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes fade-out{
	0%{
		opacity: 100%;
	}
	100%{
		opacity: 0%;
	}
}

.menu-list-container li{
	padding: 10px;
}
ul{
	list-style: none;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: var(--orange);
}
.main-content{
	position: relative;
	height: calc(64.92% - 20px);
	background: linear-gradient(130deg, var(--dark), var(--dark-contrast) );
	margin-top: 20px;
	overflow: hidden;
	/*z-index: -1;*/
}

.athlete-content{
	position: absolute;
	top: 70%;
	height: 85%;
	width: 100%;
	background-color: var(--orange-contrast);
	transition: all 1s cubic-bezier(0.19, 1.77, 1, 1);
}
.general-content{
	position: absolute;
	top: 85%;
	height: 85%;
	width: 100%;
	background-color: var(--biege-contrast);
	transition: all 1s cubic-bezier(0.19, 1.77, 1, 1);
}

.footer{
	height: 23%;
	background: linear-gradient(-130deg, var(--dark), var(--dark-contrast));
}